<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="kills" value="0"/>
		<add key="deaths" value="0"/>
		<add key="desiredKd" value="0"/>
	</appSettings>
</configuration>